<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MasterPolZAA.Properties.Settings.master_pol_zaaConnectionString" connectionString="Data Source=gogs.wsr.ru;Initial Catalog=master_pol_zaa;User ID=2395-21;Password=KqR6sG8h" providerName="System.Data.SqlClient" />
    <add name="MasterPolDBZAA" connectionString="data source=gogs.wsr.ru;initial catalog=master_pol_zaa;user id=2395-21;password=KqR6sG8h;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MasterPolDBZAA1" connectionString="data source=gogs.wsr.ru;initial catalog=master_pol_zaa;user id=2395-21;password=KqR6sG8h;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MasterPolDBZAA2" connectionString="data source=gogs.wsr.ru;initial catalog=master_pol_zaa;user id=2395-21;password=KqR6sG8h;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MasterPolDBZAA3" connectionString="data source=gogs.wsr.ru;initial catalog=master_pol_zaa;user id=2395-21;password=KqR6sG8h;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>